@import "tailwindcss";

@theme {
  --color-primary: #4d6bfe;
  --font-sans: var(--font-inter);
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white text-gray-900;
}

::-webkit-scrollbar {
  display: none;
}